<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>
<body>
    <form [formGroup]="passwords">
        <div >
            <label for="oldPassword">Old Password</label>
            <input type="password" formControlName="oldPassword" placeholder="Enter old password" id="oldPassword">
            <div *ngIf="isFieldInvalid('oldPassword')" class="error-message" >
                Field Required
            </div>
        </div>
        <div>
            <label for="newPassword">New Password</label>
            <input type="password" formControlName="newPassword" placeholder="Enter new password" id="newPassword">
            <div *ngIf="isFieldInvalid('newPassword')" class="error-message" >
                Field Required
            </div>
        </div>
        <div>
            <button type="submit" (click)="onSubmit()">Submit</button>
            <button type="button" routerLink="/layout" class="btn btn-primary">Cancel</button>
        </div>
    </form>
</body>
</html>
